body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
  	background-size: 100% 100%;
    background: url('bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    text-align: center;
}

.login-box h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.login-box p {
    color: #666;
    margin-bottom: 20px;
}

.message {
    background-color: #e7f9e7;
    color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
}

.signup {
    margin-top: 10px;
}

.signup p {
    color: #103791;
}
.signup a {
    color: #007BFF;
    text-decoration: none;
}
